
<div class="d-flex">

  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab in soluta eveniet sapiente at incidunt odit, obcaecati repellat iste dolorum quas veniam. Quis reprehenderit nihil aperiam distinctio quos earum? Inventore.
      </div>
    </div>

  </div>
</div>